@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

html, body {
    font-family: 'Noto Sans', 'Noto Sans KR', sans-serif;
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10; /* header가 다른 요소 위에 오도록 설정 */
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
    color: #2c3e50;
    flex-grow: 1;
    box-sizing: border-box;
    padding: 20px;
    width: 100%;
    margin-top: 60px;
    overflow: hidden;
}

.navbar {
    background-color: white !important;
    font-weight: bold;
}

.navbar .navbar-brand,
.navbar .nav-link {
    color: #e84393 !important;
}

.navbar .nav-link:hover {
    color: #d63075 !important;
}

footer {
    width: 100%;
    background-color: #e84393;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: auto; /* Footer를 항상 하단에 고정 */
    position: relative;
}

footer p {
    margin: 0;
    font-size: 1rem;
}