h2 {
    font-weight: bold;
}

.big-card {
    width: 100%;
    height: auto;
    max-height: 100%;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-height: calc(100vh - 40px);
    display: flex;
    flex-direction: column;
    background-color: #fdf0f7;
    border: 2px solid #636e72;
    color: #2c3e50;
}

.small-cards-container {
    flex-grow: 1;
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    width: 100%;
}

.small-card {
    width: calc(33.333% - 15px);
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    border: 1px solid #636e72;
    color: #2c3e50;
    transition: background-color 0.3s ease-in-out;
}

.small-card:hover {
    background-color: #ffe3ed;
}

  /* 작은 카드가 화면 크기에 맞게 늘어나도록 설정 */
@media (max-width: 768px) {
    .small-card {
      width: calc(50% - 15px);
    }
}
@media (max-width: 480px) {
    .small-card {
      width: 100%;
    }
}

.floating-add-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    background-color: #e84393;
    color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-color: #e84393;
}

.floating-add-btn:hover {
    background-color: #d63075;
    border-color: #d63075;
}

.floating-add-btn:active {
    background-color: #d63075 !important;
    border-color: #d63075 !important;
    transform: scale(0.98);
    box-shadow: 0px 2px 4px rgba(232, 67, 147, 0.5);
    outline: none !important;
}

.floating-add-btn:focus {
    outline: none !important;  /* 기본 outline 제거 */
    box-shadow: none !important; /* 포커스 상태에서 기본 box-shadow 제거 */
}